* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.app{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.appBody{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#light {
    background-color: white;
}

#dark {
    background-color: #0A1929;

}
